*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background:linear-gradient(to right , dodgerblue , skyblue);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width:100%;
	font-family: 'Open Sans', sans-serif;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background:#f5f5f5;
	padding:20px;
}
.logo{
	font-size:20px;
	font-weight: bold;
}
nav ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	list-style: none;
}
nav ul li{
	margin-left:18px;
	padding:5px 10px;
}
nav ul li:hover{
	background:dodgerblue;
	transition: background .5s;
}
nav ul li a{
	text-decoration: none;
	color:gray;
	font-size: 17px;
}
nav ul li a:hover{
	color:#fff;
}
.menu-toggle{
	font-size: 20px;
	display: none;
}
.menu-toggle i:hover{
	color: dodgerblue;
}
.social-link input{
	padding: 5px 25px;
	border: none;
	outline: none;
	border: 1px solid dodgerblue;
	border-radius:24px;
	margin-right:20px;
	position: relative;
}
.social-link #ser{
	position: absolute;
	z-index: 1;
	margin-left: 180px;
	margin-top: 5px;
	color: gray;
}
.social-link #user{
	font-size:20px;
	color:gray;
}
.toggler{
	display: block;
	right: 0;
	transition:display .5s;
}

@media screen and (max-width: 870px){
	header{
		padding-left:0;
	}
	.menu-toggle{
		display: block;
	}
	nav{
		display: none;
		position:absolute;
		left: 0;
		top: 0;
		margin-top: 60px;
		background:#f5f5f5;
		width: 100%;
		height: 40vh;
	}
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		width:100%;
		text-align: center;
	}
}